<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-databases {% if page.url contains 'databases' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/databases">Databases</a></li>
        <li class="nav-devops {% if page.url contains 'devops' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/devops">DevOps</a></li>
        <li class="nav-fiction {% if page.url contains 'fiction' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/fiction">Fiction</a></li>
        <li class="nav-author {% if page.url contains 'dataScience' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/mlops">MLOps</a></li>
        <li class="nav-travel {% if page.url contains 'travel' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/travel">Travel</a></li>
        <li class="nav-resume {% if page.url contains 'resume' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}resume">Resume</a></li>
        <li class="nav-photography {% if page.url contains 'photography' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/photography">Photography</a></li>
        <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author">Author</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
